@font-face {
  font-family: 'Circle';
  src: url("../assets/fonts/Circe-normal.ttf") format('truetype');
}
@font-face {
  font-family: 'Plumb';
  src: url("../assets/fonts/Plumb_medium.ttf") format('truetype');

}
@font-face {
  font-family: 'Plumb bold';
  src: url('../assets/fonts/plumb-bold.otf') format('truetype');
}
