@import "./functions";

$font-size-m: rem(14);
$font-size-l: rem(16);
$font-size-xl: rem(21);
$font-size-xxl: rem(30);
$font-size-xxx: rem(64);

$line-height-m: rem(19);
$line-height-l: rem(22);
$line-height-xl: rem(27);
$line-height-xxl: rem(38);
$line-height-xxx: rem(102);

$color-white: #fff;
$color-blue: #2378FC;
$color-ocean: #30BCC9;
$color-cherry: #F6404F;
$color-yellow: #FFC41E;
$color-black: #2E373B;
$color-beige: #FAF3E3;

$max-width-xxl: rem(1140);
$max-width-xl: rem(768);
$max-width-l: rem(720);
$max-width-m: rem(540);